In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(
    {
        "Name": [
            "Ivanov Ivan Ivanovich",
            "Petrov Petr Petrovich",
            "Sidorova Sidra Sidorovna"
        ],
        "Age": [22, 55, 44],
        "Gender": ["male", "male", "female"]
    }
)

In [7]:
df

                       Name  Age  Gender
0     Ivanov Ivan Ivanovich   22    male
1     Petrov Petr Petrovich   55    male
2  Sidorova Sidra Sidorovna   44  female