In [5]:
import pandas as pd

In [6]:
df = pd.DataFrame(
    {
        "Name": [
            "Ivanov Ivan Ivanovich",
            "Petrov Petr Petrovich",
            "Sidorova Sidra Sidorovna"
        ],
        "Age": [22, 55, 44],
        "Gender": ["male", "male", "female"]
    }
)

In [7]:
df

                       Name  Age  Gender
0     Ivanov Ivan Ivanovich   22    male
1     Petrov Petr Petrovich   55    male
2  Sidorova Sidra Sidorovna   44  female

In [15]:
df.Age

0    22
1    55
2    44
Name: Age, dtype: int64

In [16]:
ages = pd.Series([22, 35, 58], name="Age_2")

In [17]:
ages

0    22
1    35
2    58
Name: Age_2, dtype: int64

In [19]:
print(ages.max())
print(df.Age.max())

58
55